uvicorn==0.12.2
fastapi==0.61.1
sklearn==0.0
Keras==2.4.3
tensorflow-cpu==2.4.0
Keras-Preprocessing==1.1.2
pandas==1.1.5
numpy==1.19.2
pydantic==1.7.3
joblib==1.0.0
h5py==2.10.0
gunicorn==20.1.0
uvloop==0.15.2